.footer {
  margin-top: auto;
  padding: 40px 60px 20px;
  background-color: #fff;
  border-top: 1px solid #e5e7eb;
  position: relative;
  bottom: 0;
  width: 100%;
  
}
.follow-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.follow-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
}

.icon {
  color: #000;
  transition: 0.3s;
}

.icon:hover {
  color: #0078d4;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  color: #2563eb;
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;
  max-width: 250px;
}

.footer-phone {
  font-weight: 500;
  color: #111827;
  margin-top: 10px;
}

.footer-section h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  color: #4b5563;
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-section ul li:hover {
  color: #2563eb;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #e5e7eb;
  padding-top: 10px;
  color: #6b7280;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    min-width: 100%;
  }

  .footer-text {
    max-width: 100%;
  }
}
